.*{margin: 0;padding: 0;}
body{position: relative;min-width: 500px;background-color: rgba(255,255,197,0.2);}
.lr{float: right;}
.lf{float: left;}
.button_a{display: inline-block;text-decoration: none !important; margin-bottom: 1rem;position:absolute}
@font-face {font-family:"hanz";src: url("../fonts/hanz.ttf");}
/*top-nav-start-2017.04.18-2b0x*/
.header_bar{position: absolute;width: 100%;height: 70px;display: block;position: fixed;z-index: 1;}
.header{height: 70px;padding: 10px 0;position: relative;display: block;}
.top_navs{padding: 0 30px;display:block;position: relative;}
.navbar-nav{margin: 10px 2rem; color: white;}
.top_navs .navbar-nav a:hover{padding-bottom: 11px;}
.navbar-header{background-color: rgba(255,255,255,0); margin: 6px 0; padding-left: 4%;}
.header .logo{height: 50px;width: 110px;float: left;background-color: rgba(206, 127, 1,0);}
.navbar-toggle .icon-bar{background-color:black;width: 20px;}
.plr20_pa{position: absolute;padding: 0 30px;}
/*scroll-img-start*/
.lunbotu{width: 100%;height: 80%;display: block;}
.navbar-fixed-top .navbar-collapse{background-color: rgba(1,1,1,0.2);}
.carousel-inner .item img{width: 100%;height: 5%;}
/*content-start*/
.mian_content{padding: 60px 0;}
.introduce_title{margin: 20px 0 30px;text-align: center;color: #bb7832;}
.introduce_content{padding: 2rem 5rem;margin: 0 0 50px;}
.introduce_txt{padding: 10px 0 20px;}
.introduce_txt p{text-align: center;margin-bottom: 2.5rem;text-indent: 2em;font-size: 2rem;}
.introduce_btn{text-align: center;margin-top: 2rem;}
.introduce_btn a{text-decoration: none;padding: 1rem 4rem;font-size: 20px;line-height: 20px;font-weight: 300;color: #a79d85;background-color: rgba(0,0,0,0);border: .0625rem solid #a79d85; 
transition: color 0.3s, background-color 0.3s; -moz-transition: color 0.3s, background-color 0.3s; -webkit-transition: color 0.3s, background-color 0.3s;}
.introduce_btn a:hover{background-color: rgba(145, 133, 104,1);color: white;font-weight: 10;}
/*video-start*/
.video{/*text-align: center;*/}
.video_header{text-align: center;padding: 5rem 0 3rem;color: #bb7832;}
.video_txt{padding: 0 50px;color: #555857;}
.video_txt_content{padding-top: 1rem;padding-bottom: 1rem;}
.video_txt_btn{display: block;margin-bottom: 1rem;padding: 0.5rem 2rem;color: white;font-size: 15px;background-color: #a79d85;letter-spacing:0.1em;border: none;
transition:  background-color 0.3s; -moz-transition: background-color 0.3s; -webkit-transition: background-color 0.3s;}
.video_txt_btn:hover{background-color: rgba(145, 133, 104,1);}
.video_img{background: url("../video/1.jpg") no-repeat center ;}
.video_play{padding: 10px 50px;}
/*main-start*/
/*parts1*/
.content_header{text-align: center;padding: 8rem 0 3rem;color: #bb7832;}
.content_article_top_txt{margin: 10px 3%;}
.content_article_top_txt span{color:  #a79d85;}
.content_article_top_txt_title{margin: 16px 0; }
.content_article_top_txt_btn{display: block;margin-bottom: 1rem;padding: 0.5rem 2rem;color: white;background-color: #a79d85;font-size: 15px;letter-spacing:0.1em;border: none;
transition:  background-color 0.3s; -moz-transition:  background-color 0.3s; -webkit-transition:  background-color 0.3s;}
.content_article_top_txt_btn:hover{background-color: rgba(145, 133, 104,1);}
/*parts2*/
.content_mian{padding: 0 40px;}
.content_cultural{margin: 7rem 0 2rem}
.content_cultural_picture_position{position: relative;margin: 0 0 32px;}
.content_cultural_picture_mask{position: absolute;display: block;text-align: center;width: 100%;height: 100%;top:0;background-color: rgba(1,1,1,0.3);
transition:  background-color 0.3s; -moz-transition:  background-color 0.3s; -webkit-transition:  background-color 0.3s;}
.content_cultural_picture_mask:hover{background-color: rgba(1,1,1,0);}
.content_cultural_picture_mask_txt{font-size: 3rem;color: white;font-weight: 300;display: inline-block;cursor: pointer;padding-bottom: 1rem;border-bottom: 0.2rem solid white;margin: 30% auto;text-align: center;}
.content_cultural_picture_mask_link{display: block;width: 100%;height: 100%;position: absolute;top: 0;text-decoration: none;}
/*parts3*/
.content_article_bottom span{margin-top: 10px;display:inline-block;color:  #a79d85;}
.content_article_bottom_title{padding-top: 1rem;}
.content_article_bottom_title h3{margin: 0;}
.content_article_bottom_content{padding-top: 1rem;padding-bottom: 1rem;}
.content_article_bottom_btn{display: block;margin-bottom: 1rem;padding: 0.5rem 2rem;color: white;font-size: 15px;background-color: #a79d85;letter-spacing:0.1em;border: none;
	transition:  background-color 0.3s; -moz-transition:  background-color 0.3s; -webkit-transition:  background-color 0.3s;}
.content_article_bottom_btn:hover{background-color: rgba(145, 133, 104,1);}
/*footer-start*/
.footer_padding{padding: 15rem 0;}
/*parts1*/
.footnote{text-align: center;}
.footnote_title{width: 100%;height: auto;background-color: rgba(1,1,1,0.5);display: block;padding: 4rem 5rem 5rem;}
.col-logo{padding: 0;}
.col-title{line-height: 50px;margin: 1rem 2rem 0 -2rem;text-align: center;font-size: 2.8rem;color: #bb7832;}
.footnote_title .logo{height: 50px;width: 110px;float: left;background-color: rgba(206, 127, 1,0);padding: 1rem;}
.footnote_title_content{padding: 0 0 2rem 0;border-bottom: 0.2rem solid rgba(255,255,255,0.4);}
.footnote_title_content .col-md-8{top: 5px;padding: 0;}
.letter{padding: 0.2rem 0;display: table;width: 100%;}
.form-control{background-color: rgba(1,1,1,0);color: white;width: 75%;float: left;border-radius: 0;}
.footnote_title_content .col-md-8 input:hover{border-color: #66afe9;outline: 0; -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);}
.letter_btn{margin-right: -1.25rem;}
.letter_query{display: inline-block;width: 23%;color: white;background-color: #a79d85;border: .125rem solid transparent;padding: 0.65rem 0;
transition:  background-color 0.3s;-moz-transition:  background-color 0.3s;-webkit-transition:  background-color 0.3s;}
.letter_query:hover{background-color: rgba(145, 133, 104,1);}
/*parts2*/
.footnote_email{text-align: center;background-color: rgba(1,1,1,0.5);color: white;padding:  0rem 0 3rem 0;letter-spacing: 0.3rem;font-size: 15px;}
.footnote_gratitude{text-align: center;background-color: rgba(1,1,1,0.5);color: rgb(250, 182, 119);padding:  2rem 0 2rem 0;letter-spacing: 0.3rem;font-size: 20px;}
.footnote .footnote_email p{margin-bottom: 1rem;}
.footnote_email p.footnote_email_p2{margin: 0.7rem;}
/*parts3*/
.footnote_about{background-color: rgba(1,1,1,0.7);color: white;padding: 2rem 5rem 5rem;}
.footnote_about span{float: left;margin: 4rem 2rem 2rem;}
.footnote_about_col7{padding: 0 0%;}
.footnote_about_center_l{text-align: center;margin: 0 auto;display: inline-block;}
.footnote_about .footnote_about_center span{float: left;}
.footnote_about_center_r{margin: 4rem 1rem 2rem;}
.footnote_about .footnote_about_center_r p{margin: 2px 0;}
/*footer-end**/
.scrollSite{position: absolute;display: block;bottom: 1%;right: 1%;z-index: 4; position: fixed;width: 60px;height: 50px;background: url(../img/icon_top.png) center center no-repeat;background-color: #444;  
background-color: rgba(0,0,0,.6);border-radius: 2px;box-shadow: 0 1px 3px rgba(0,0,0,.2);cursor: pointer;margin-bottom: 10p}
.scrollSite:hover{background-color: rgba(0,0,0,.7);}
.scrollSite_btn{display: block;width: 60px;height: 50px;}
/*video_mask*/
#video_mask{width: 100%;height: 100%;background-color: rgba(0,0,0,0.7);position: fixed;top: 0;left: 0;z-index: 997;display: block;}  
#default_video{display: block;z-index: 998;}
.default_video_img{background: url("../img/family-website.png") no-repeat center ;top: -1px;left: -3px;}
.overhid{width: 60%;height: 74%;display: inline-block;margin: 0 auto;position: fixed;left: 20%;top: 13%;z-index: 999;padding: 1rem 0;overflow: hidden;min-width: 300px;}
/*new attribute-2017.05.09-2b0x*/
.collapse ul a{position: relative;padding:10px 20px !important;}
.navigation-link,.nonestyle{font-family: "hanz";font-size: 20px;display: block;position: relative;padding: 5px 20px;text-decoration: none;color: white;-webkit-transition: color .2s ease-in-out;transition: color .2s ease-in-out;}
.title-font{font-family: "hanz";font-size: 6rem;}
.litter_title_font{font-family: "hanz";font-size: 5rem;}
.navigation-link:before {content: "";position: absolute;bottom: 0;width: 0;border-bottom: solid 2px;left: 0;-webkit-transition: width .2s ease-in-out;transition: width .2s ease-in-out;}
.navigation-link:hover {background-color: rgba(1,1,1,0) !important;color: #bb7832;}
.navigation-link:hover:before {width: 100%;}
.nonestyle{border-bottom: 2px solid #bb7832;color: #bb7832;height: 40px;}
.nonestyle:hover{background-color: rgba(1,1,1,0) !important;color: #bb7832 !important;border-bottom: 2px solid #bb7832 !important;}
.blow_up_img img:hover{transform: scale(1.1);transition:all 1.5s linear ;}
/*new-2017.05.10-2b0x*/
.fixed_bg{ background-attachment:fixed;}
.fixed_bg{ width:100%; background-position:bottom center; background-repeat:no-repeat; background-size:cover; min-height:100%; position:relative; z-index:1;}
.bg_3{ background-image:url(../img/shangfangshangate_bottom.jpeg);}
.fixed_bg p{ margin: 0;} 